.cartItemContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.cart h2 {
    margin-top: 0;
    text-transform: uppercase;
}

.cart h4 {
    margin: 0;
}

.cartItemContainer input[type=number] {
    width: 45px;
}