.productsContainer {
    width: var(--mainWidth);
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.productTile {
    font-size: var(--fontSize);
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 1vw;
    padding: 10px;
    background-color: rgb(241, 244, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: var(--width);
    height: var(--height);
}

.productTile button {
    font-size: var(--fontSize);
}

.productTile:hover {
    box-shadow: 0px 0px 5px rgb(199, 199, 199);
    opacity: 90%;
}

.productTile p {
    margin: 0;
}

.productTile h3,
.productTile img,
.productTile button,
.productsContainer button {
    cursor: pointer;
}

.productTile h3:hover {
    text-decoration: underline;
}

.productTileImgContainer img {
    cursor: pointer;
    object-fit: contain;
    width: var(--width);
    height: var(--imageHeight);
    -webkit-box-reflect: below 0px linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
}

.productTileImgContainer img:hover {
    height: calc(var(--imageHeight) * 1.1);
}

.productTileImgContainer div {
    height: calc(var(--imageHeight) * 1.1);
    overflow: hidden;
}

.productTileImgContainer {
    flex-grow: 1;
}

.productTileContentContainer {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productTileContentContainer h3 {
    margin: 0;
}

/* product grid */

.productGrid {
    display: flex;
    /* width: var(--prodGridWidth); */
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.topSections {
    width: var(--mainWidth);
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: space-between;
}

.topSections section:first-child,
.topSections section:last-child {
    flex-grow: 1;
    display: flex;
}

.topSections section:first-child {
    justify-content: flex-start;
    margin-left: 0.5vw;
}

.topSections section:last-child {
    justify-content: flex-end;
}

/* cat description */
.categoryDescription {
    width: calc(var(--width) * 1.5);
}

.categoryDescription h2 {
    text-transform: uppercase;
}

.categoryDescription h2,
.categoryDescription p {
    margin: 0;
}

/* filter */

.filtersContainer {
    width: var(--width);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    flex-shrink: 0;
}

.filterForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchContainer {
    margin-top: 10px;
}

.searchContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer form div {
    width: 80%;
    position: relative;
}

.searchContainer form svg {
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
    padding: 2px;
    border-radius: 5px;
}

.searchContainer form svg:hover {
    background-color: wheat;
}

.searchContainer form input {
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    height: 25px;
}

.filterForm button {
    margin-top: 2vh;
}

.priceRangeInput {
    background: none;
    font-weight: bold;
    width: 50px;
}

.FiltersHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.FiltersHeader button {
    background: none;
    border: none;
    margin: none;
    padding: none;
}

.FiltersHeader button:hover {
    text-decoration: underline;
}

/* mobile filter and sort */

.mobileSortFilterContainer {
    display: flex;
    width: var(--mainWidth);
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 30px;
    margin-bottom: 2vh;
}

.mobileFiltersBtn {
    padding: 0;
    padding-left: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: start;
    box-sizing: border-box;
}

.mobileFiltersBtn {
    width: var(--width);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

/* sort show */

.sortShowContainer {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: var(--width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortContainer label,
.showContainer label {
    position: absolute;
    top: -20px;
    font-size: 12px;
}

.sortContainer,
.showContainer {
    position: relative;
}

.sortContainer select,
.showContainer select {
    width: calc(var(--width) * 0.60);
    font-size: 18px;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.showContainer select {
    width: calc(var(--width) * 0.36);
}

/* pop filters */

.hiddenFilterUl {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hiddenFilterUl li {
    cursor: pointer;
    width: 90%;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hiddenFilterUl li a {
    display: block;
    text-decoration: none;
    color: black;
}

/* prods total section */

.productsTotalSection p {
    padding-right: 2px;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

/* add to cart btn */

.addToCartBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    border-radius: 4px;
    margin: 0;
    background-color: rgb(231, 237, 240);
    border: 1px solid rgb(211, 220, 228);
    position: relative;
}

.addToCartBtn svg {
    z-index: 2;
}

.addToCartBtn span {
    margin-right: 5px;
}

.addToCartBtn::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(198, 213, 255);
    border-radius: 4px;
    z-index: 1;
}

.addToCartBtn:hover {
    background-color: rgb(244, 250, 255);
    border: 1px solid rgb(172, 179, 185);
}

.addToCartBtn span {
    z-index: 2;
    font-size: var(--fontSize);
}

/* loading overlay */

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-color: black;
    z-index: 10;
}

/* load more btn */

.loadMoreBtnContainer {
    margin-top: 2vh;
    width: calc(var(--width) * (var(--rowSize) - 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadMoreBtnContainer button {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    font-size: var(--fontSize);
}

.loadMoreBtnContainer button:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

/* price slider */

.filterPriceContainer {
    margin-top: 1vh;
}

.filterPriceSliderValues {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filterPriceSliderValues div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterPriceSlider {
    height: 20px;
    width: 90%;
    position: relative;
}

.filterPriceSlider input {
    position: absolute;
    left: 0;
    width: 100%;
}

.filterPriceSlider input::-webkit-slider-thumb {
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

.filterPriceSlider input::-webkit-slider-runnable-track {
    height: 5px;
    background: rgb(150, 150, 150);
    border-radius: 3px;
    border: none;
}

.filterPriceSlider svg circle {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .filtersContainer {
        margin: 0;
        width: 100%;
    }

    .filtersContainer h3 {
        margin-left: 15px
    }

    .loadMoreBtnContainer {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {

    .sortContainer select,
    .showContainer select,
    .mobileFiltersBtn {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {

    .addToCartBtn::before {
        width: 25px;
    }
}