.productTile {
    --width: 300px
}

.productTile {
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width);
    height: 450px;
}

.productTile:hover {
    box-shadow: 0px 0px 5px rgb(199, 199, 199);
}

.productTile p {
    margin: 0;
}

.productTile h3,
.productTile img {
    cursor: pointer;
}

.productTile h3:hover {
    text-decoration: underline;
}

.productTile img {
    object-fit: contain;
    width: var(--width);
    height: var(--width);
}

.productGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterPriceSlider {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100px;
}

.filterPriceSlider svg circle {
    cursor: pointer;
}