.productTile {
    --width: 280px
}

.productTile {
    border-radius: 3px;
    margin: 0.6vw;
    padding: 10px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width);
    height: 450px;
}

.productTile:hover {
    box-shadow: 0px 0px 5px rgb(199, 199, 199);
    opacity: 80%;
}

.productTile p {
    margin: 0;
}

.productTile h3,
.productTile img,
.productTile button {
    cursor: pointer;
}

.productTile h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.productTile img {
    cursor: pointer;
    object-fit: contain;
    width: var(--width);
    height: var(--width);
}

.productTile>div {
    height: 100%;
}

.productGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterForm {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterPriceSlider {
    display: flex;
    align-items: center;
    height: 20px;
    width: 200px;
}

.filterPriceSlider svg circle {
    cursor: pointer;
}

.topSections {
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topSections section:first-child,
.topSections section:last-child {
    flex-grow: 1;
    display: flex;
}

.topSections section:first-child {
    justify-content: flex-start;
}

.topSections section:last-child {
    justify-content: flex-end;
}

.categoryDescription h2 {
    text-transform: uppercase;
}

.categoryDescription h2,
.categoryDescription p {
    margin: 0;
}

.filtersContainer {
    padding: 1vw;
}