.alertContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(80, 80, 80);
    border: 1px solid rgb(209, 226, 228);
}

.alertsList {
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.alertContainer p {
    width: calc(var(--mainWidth) / 1.8);
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-size: calc(var(--fontSize) * 1.2);
}

.alertContainer h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}