header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-left: 4vw;
    margin-right: 4vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>div>span {
    text-transform: uppercase;
}

nav>div>span:hover {
    text-decoration: underline;
}

.categoryDropDownContainer {
    position: relative;
}

.categoryDropDownContainer span {
    cursor: pointer;
}

.categoryDropDown {
    background-color: rgb(250, 250, 250);
    list-style-type: none;
    border: 1px solid rgb(199, 199, 199);
    z-index: 2;
    position: absolute;
    top: 5px;
}

.categoryDropDown a {
    text-align: left;
    text-decoration: none;
    color: black;
}

.categoryDropDown a:hover {
    text-decoration: underline;
}


/* cart */

.cartDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.cartDiv>div {
    top: 40px;
    padding: 1vh;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #888888;
    position: absolute;
    background-color: white;
}

.cartDiv>button {
    cursor: pointer;
    background-color: rgb(225, 236, 255);
    border-radius: 4px;
    border: 1px solid gray;
    padding: 3px;
    width: 40px;
    height: 40px;
}

.cartDiv>button:hover {
    background-color: rgb(206, 219, 241);
    border-color: rgb(105, 105, 105);
}