header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

nav>div {
    display: inline-block;
}

.categoryDropDownContainer {
    position: relative;
}

.categoryDropDownContainer span {
    cursor: pointer;
}

.categoryDropDown {
    list-style-type: none;
    z-index: 1;
    position: absolute;
    top: 0;
}

.categoryDropDown a {
    text-align: left;
    text-decoration: none;
    color: black;
}

.categoryDropDown a:hover {
    text-decoration: underline;
}