.footerContainer {
    padding: 0.5vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.footerContainer a {
    text-decoration: none;
    color: white;
}

.footerContainer a:hover {
    text-decoration: underline;
    color: white;
}