.footerContainer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 2vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerItemsContainer {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: var(--mainWidth)
}

.footerContainer a {
    text-decoration: none;
    color: white;
}

.footerContainer a:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 1000px) {
    .footerItemsContainer {
        justify-content: space-between;
    }
}