.footerContainer {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-top: 2vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerItemsContainer {
    display: flex;
    flex-direction: column;
    width: var(--mainWidth)
}

.footerContainer a {
    text-decoration: none;
    color: white;
}

.footerContainer a:hover {
    text-decoration: underline;
    color: white;
}