.hiddenSubContainer {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(75, 75, 75);
}

.hiddenSubTop {
    cursor: pointer;
}

.hiddenSubTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hiddenSubTop:hover {
    opacity: 80%;
}

.hiddenSubTop>div {
    flex-grow: 1;
}

.hiddenSubBot {
    width: 100%;
    margin-left: 15px;
    padding-bottom: 3vh;
}