* {
    box-sizing: border-box;
}

:root {
    --mainWidth: ;
    --tileMargin: 1vw;
    --rowSize: ;
    --prodGridWidth: ;
    --width: calc((var(--mainWidth) / var(--rowSize)) - 1vw);
    --height: calc(var(--width) * 1.6);
    --fontSize: calc(var(--width) / 16);
    --imageHeight: calc(var(--width) * 0.9);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg,
button {
    cursor: pointer;
}

*:focus {
    outline: none;
}

svg:hover {
    stroke: gray
}