:root {
    --width: 300px;
    --height: 450px;
    --fontSize: 16px;
    --imageHeight: calc(var(--width) - 20px);
}

header>div {
    display: inline-block;
}

main {
    margin-left: 8vw;
    margin-right: 8vw;
}

svg {
    cursor: pointer;
}